/* Reset */
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

/* Main Styling */
html, body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.7em;
}

a {
    color: #333;
    text-decoration:none;
}

h1, h2, h3 {
    padding: 20px 0;
    color:#fff;
}

p {
    margin: 10px 0;
    color: #fff;
}

/* Utility classes */

.container {
    margin: auto;
    max-width: 1100px;
}

.text-primary {
    font-size: 30px;
    line-height: 1.3em;
    color: #f7c08a;
}

.lead {
    font-size: 20px;
    line-height: 1.7em;
    padding-bottom: 80px;
}

.btn {
    padding:40px 40px;
    background: #333;
    color: #fff;
    cursor: pointer;
    border-radius: 8px;
    font-size: 20px;
}

.btn:hover {
    background:#444;
    color:#f7c08a;
}

/* Navbar */

#navbar {
    background:#333;
    color:#fff;
    overflow: auto;
}

#navbar ul {
    float: left;
}

#navbar ul li {
    float: left;
    list-style:none;
}

#navbar ul li a {
    display: block;
    text-align: center;
    padding: 20px;
    color:#fff;
}

#navbar ul li a:hover, 
#navbar ul li .current {
    background: #444;
    color: #f7c08a;
}

/* Showcase */
#showcase{
    background: url('../img/logos.jpg') no-repeat center center/cover;
    height:700px;
}

#showcase .showcase-content {
    text-align: center;
    padding-top: 20px;
}

#showcase .showcase-content #input-button {
    width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#showcase .showcase-content #spinner {
    margin-top: 40px;
    visibility: hidden;
}

#showcase .showcase-content #output {
    /* padding-top: 10px; */
    font-size: 20px;
}

/* Middle */

#middle {
    background: #333;
    overflow: auto;
}

#middle h2 {
    text-align: center;
    padding: 60px;
    color: #f7c08a;
    font-size: 30px;
}

#classes img {
    width: 100px;
    height: 100px;
}

#classes figure {
    margin:0;
    padding: 20px 30px;
    float: left;
}

#classes figure figcaption {
    color:#fff;
    text-align: center;
}